* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #eef0f4;
}

.hidden {
  display: none;
}

.unhidden {
  display: initial;
}
