* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-ctnr {
  background-color: #eeeeee;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper.inputs {
  gap: 20px;
}

.input-ctnr {
  display: flex;
  gap: 10px;
}

label {
  width: 160px;
  text-align: right;
}

input {
  width: 400px;
}

textarea {
  width: 400px;
  resize: none;
}

.personal-statement {
  align-items: center;
}

.job-heading {
  display: flex;
  justify-content: center;
}