.cv-page-ctnr {
  margin-bottom: 50px;
}

.cv-page {
  padding: 30px;
  width: 21cm;
  height: 29.7cm;
  background-color: #ffffff;
  text-align: left;
  margin: 50px 0px;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.cv-page h2 {
  font-size: 1em;
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #213547;
}

.cv-page h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.cv-page h4 {
  font-size: 0.9em;
  margin-bottom: 0;
  padding-left: 30px;
}

.cv-page p,
.cv-page li {
  font-size: 0.9em;
}

.cv-page ul {
  padding-left: 60px;
  margin-top: 0;
}

.cv-name {
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cv-dates {
  margin-top: 0;
}
