.cv-page-ctnr {
  width: 100vw;
  margin-bottom: 50px;
  overflow-wrap: anywhere;
}

.cv-page {
  padding: 30px 0 0px 30px;
  width: 21cm;
  height: 29.7cm;
  background-color: #ffffff;
  text-align: left;
  margin: 50px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.cv-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cv-name {
  font-size: 1.5em;
  color: #ecd0a8;
  margin: 0;
}

.contact-details {
  font-size: 0.8em;
  color: gray;
  text-align: right;
  padding-right: 30px;
}

.cv-email,
.cv-number {
  margin: 0;
}

main {
  display: flex;
}

.main-content {
  width: 14cm;
  padding-right: 20px;
}

.main-content h2 {
  font-size: 1em;
  margin: 0;
  border-bottom: 1px solid #213547;
}

.cv-page h3 {
  font-size: 0.9em;
  margin-bottom: 0;
}

.cv-page h4 {
  font-size: 0.85em;
  margin: 0;
  padding-left: 10px;
}

.main-content p,
.main-content li {
  font-size: 0.85em;
}

.main-content ul {
  padding-left: 30px;
  margin-top: 0;
}

.cv-dates {
  margin: 0 0 10px 0;
}

aside {
  width: 7cm;
  height: 100%;
  padding: 0 30px 0 30px;
  background-color: #ecd0a8;
  color: #ffffff;
  text-align: left;
}

aside li {
  list-style: none;
  font-size: 1em;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid white;
}
