.cv-page {
  padding: 30px;
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* .cv-personal-statement p {
} */
